h1 {
    font-family: 'Cairo', sans-serif !important;
}
h2 {
    font-family: 'Cairo', sans-serif !important;
}
h3 {
    font-family: 'Cairo', sans-serif !important;
}
h4 {
    font-family: 'Cairo', sans-serif !important;
}
h5 {
    font-family: 'Cairo', sans-serif !important;
}
h6 {
    font-family: 'Cairo', sans-serif !important;
}

div {
    font-family: 'Cairo', sans-serif !important;
}

span {
    font-family: 'Cairo', sans-serif !important;
}

ul {
    font-family: 'Cairo', sans-serif !important;
}

li {
    font-family: 'Cairo', sans-serif !important;
}

a {
    font-family: 'Cairo', sans-serif !important;
}

button {
    font-family: 'Cairo', sans-serif !important;
}

p {
    font-family: 'Cairo', sans-serif !important;
}

section {
    font-family: 'Cairo', sans-serif !important;
}